/* .banner--programming {
    background-image: url(../IMG/banner_programacion.jpg);
  } */

  /* .banner {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;

    width: 100%;
    font-family: "GothamLight", sans-serif;

  } */

  body {
    background-color: black;
    color: white;
  }

.banner-show img {
    width: 100%;
    height: 50%;
}

.banner-show {
    position: relative;
}

.text-content {
    letter-spacing: 0.15em;
    font-family: "GothamLight", sans-serif;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    /* background-color: blue; */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-content h1 {
    padding-top: 150px;
    margin: 0;
}

.text-content h3 {
    margin: 0;
}

.text-content p {
    margin-top: 100px;
    font-size: 12px;
    font-weight: 600;
}

.details-show {
    background-color: black;
 
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.details-show p {
    margin: 0;
}

.details-item {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.details-item p {
    margin-left: 15px;
    margin-right: 20px;
}



.content-data {
    display: flex;
    font-size: 9px;
}






.show-content {
    margin: 50px 130px;
    display: grid;
    grid-template-columns: 30% 65%;
}

.show-content img {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.content-text p {
    font-size: 12px;
    text-align: justify;
}

.genre {
    border: 2px solid #b0802c;
    padding: 10px;
    color: #b0802c;
    font-weight: 600;
}