body {
    background-color: black;
    color: white;
}

.banner--show {
    background-image: url(../IMG/banner2-oedipus.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

.banner--show h1 {
    padding-top: 90px;
    margin: 0;
}
  
.banner--show h3 {
    margin: 10px;
    font-weight: 400;
}

.content {
    margin: 50px 230px;
}

.show-data-area {
    display: flex;
}



.data {
    /* background-color: blue; */
    margin-left: 50px;
}

/* .data-img {
    background-color: aquamarine;
} */

.data-img img {
    width: 200px;
}


.data p {
    font-size: 12px;
    text-align: justify;
}

.genre {
    font-weight: 600;
    color: #b0802c;
    padding: 10px;
    border: 2px solid #b0802c;
}

.details-item {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

.details-item:last-child {
    margin-right: 0;
}

.details-item p {
    margin-left: 10px;
    font-size: 11px;
    font-weight: 600;
}

.details {
    display: flex;
}

.data-show {
    display: flex;
    align-items: center;
    justify-content: space-between;
}











.seats-area {
    margin-top: 50px;
}

.reservation-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

.reservation-data p {
    font-size: 12px;
}

.key {
    display: flex;
}

.square {
    border-radius: 5px;
    padding: 10px;
    height: 1px;
}

.square--colour-selected {
    background-color: blue;
}

.square--colour-disponible {
    background-color: #37b02c;
}

.square--colour-no-disponible {
    background-color: #e92e19;
}

.option-key {
    display: flex;
    align-items: center;
    margin: 0 30px 0 0;
}

.option-key:last-child {
    margin-right: 0;
}

.option-key p {
    margin: 0 0 0 10px;
}


.reserve-seats {
    background-color: #181818;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserve-seats-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10px;
    text-align: center;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: #37b02c;
    border-radius: 10px;
    border: 2px solid #37b02c;
    cursor: pointer;
    margin: 7px;
}

.seat:hover {
    background-color: blue;
    border: 2px solid blue;
}

.seat.selected {
    background-color: blue;
    border: 2px solid blue;
}


