$background-color: #b20000;
$background-title: #0b0b0b;
$font-color: white;


select {
    font-family: 'Inter', sans-serif;
    width: 110px;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    font-weight: 700;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><polygon points="0,0 12,0 6,6" fill="black"/></svg>') no-repeat right 12px center;
    background-size: 12px auto;
    appearance: none;
}

.select-genre__form {
    margin: 60px 70px 20px 70px;
    display: flex;
    justify-content: right;

    label {
        margin-right: 10px;
    }
}

.container {
    margin: 20px 70px 70px 70px;
    gap: 30px;
    font-size: 0;

    &-item {
        position: relative;
        width: 100%;
        overflow: hidden;
        text-align: center;
        height: auto;
        margin-bottom: 30px;
        cursor: pointer;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

form {
    font-size: 14px;
}

.title {
    background-color: $background-title;
    color: $font-color;
    padding: 8px;
    height: 50px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.genre {
    all: unset;
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: $background-color;
    color: $font-color;
    padding: 15px;
    border-radius: 30px;
    font-size: 12px;
    margin: 15px 0 0 10px;
    text-transform: uppercase;
}

.banner--tickets {
    background-image: url(../img/elements/banner_billboard.jpg);

    h1 {
        padding-top: 60px;
    }
}

@media (min-width: 760px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 10px));

        &-item {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 990px) {
    .container {
      grid-template-columns: repeat(4, calc(24% - 10px));
    }
}