.show-item {
    padding: 20px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
}

.info-panel {
    /* display: flex;
    justify-content: space-between; */
    font-size: 13px;
}

.buy-tickets__button {
    all: unset;
    background-color: #b20000;
    color: white;
    font-size: 10px;
    padding: 10px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.image-container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.img-events-panel {
    max-width: 100%;
    height: auto;
}

.no-events {
    font-size: 12px;
    text-align: center;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    padding: 10px;
}

.arrow {
    cursor: pointer;
    margin-right: 5px;
}

.no-hover:hover {
    background-color: white;
    color: #ccc;
} 

.different-hover:hover {
    background-color: #b20000;
    color: white;
}

.shows-list {
    display: flex;
    align-items: center;
}

.show-line {
    flex-grow: 1;
    height: 3px;
    background-color: #b0802c;
}

.next-month-day, .prev-month-day {
    color: #ccc;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #cfcfcf;
    cursor: pointer;
}

th {
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 12px;
}

td:hover {
    background-color: #e4e4e4;
}

.day-cell-content {
    display: flex;
    flex-direction: column;
}

span {
    font-weight: bold;
    margin-bottom: 5px;
}

.month-header {
    font-family: 'GothamBook', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    padding: 20px;
    background-color: #b20000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month-header h3 {
    margin: 0;
}

.month-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-day {
    background-color: #b20000; 
    color: white;
}

/* .container-calendar-events {
    margin: 50px 100px;
} */

#calendar-container {
    width: 100%;
    overflow: hidden;
}

#date-panel {
    margin-top: 50px;
    width: 100%;
}


@media (min-width: 890px) {
    .container-calendar-events {
        margin: 50px 120px;
        display: flex;
        gap: 40px;
    }

    #calendar-container {
        width: 75%;
    }
    
    #date-panel {
        width: 25%;
        margin-top: 0;
    }

}

@media (min-width: 990px) {
    .info-panel {
        display: flex;
        justify-content: space-between;
    }
}