main {
    display: grid;
    grid-template-columns: 1fr 7fr;
    /* grid-template-columns: 200px auto; 
    width: 100%; / */
}

.column-tabs {
    background-color: #363740;
    height: 100vh;
    color: white;
}

.column-data {
    background-color: #EAECF0;
    width: 100%;
}

.column-data__header {
    background-color: white;
    padding: 20px;
}

.column-data__header h2 {
    margin: 0;
}

.column-data__content {
    margin: 40px;
}

.container-button {
    display: flex;
    justify-content: end; 
}

.button-create-element {
    all: unset;
    background-color: #000AFF;
    color: white;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    border-radius: 30px;
}

.button-create-element__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}

.button-create-element__content svg {
    margin-right: 7px;
}

table {
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #F9FAFB;
    padding: 20px;
    color: #8A92A6;
}

thead th {
    border: none;
    padding: 10px;
    font-weight: 400;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

.table__header-content {
    display: flex;
    align-items: center;

}

tbody {
    background-color: white;
    border: 1px solid #EAECF0;
}

tbody th {
    font-weight: 400;
    padding: 10px;
}




.buttons-actions-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-actions-panel__item {
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons-actions-panel__item--delete {
    background-color: #D03A3A;
    margin-right: 10px;
}

.buttons-actions-panel__item--update {
    background-color: #0DBF3F;
}


/*Obra*/

.table-row__showtitle {
    display: flex;
    align-items: center;
}

.table-row__showtitle_img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.table-row__showtitle_text {
    text-align: left;
    margin-left: 15px;
}

.table-row__showtitle_text p {
    margin: 0;
}